# FOLDERS
.vscode/
.internal/
download/total-war/package/

# FILES
/desktop.ini
/settings.json
/justkaarlo.github.io.code-workspace.lnk
/.github/workflows/Documentation.md
/mods/Description Formatting Guide
/mods/Settings Formatting Template
/guides/Formatting
/guides/Guide
/mods/total-war.html