# FOLDERS
.vscode/
.internal/
download/total-war/package/
res/mods/total-war
/redesign/snapshot-v1/
# /redesign/snapshot-v2/

# FILES
/desktop.ini
/z-restructure/desktop.ini
/settings.json
/justkaarlo.github.io.code-workspace.lnk
/.github/workflows/Documentation.md
/mods/Description Formatting Guide
/mods/Settings Formatting Template
/guides/Formatting
/guides/Guide